* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: Inter, Arial, sans-serif;
}

body {
  background: #050713;
}

button,
input {
  font: inherit;
}